<div class="footer text-white sticky-bottom p-1 bg-custom mt-4">
    <div class="row align-items-center">
            <!-- Left Section -->
        <div class="col-md-6 mb-3 mb-md-0">
            <h4 class="fw-bold">Get In Touch</h4>
            <p class="mb-1">Send us an email at <span class="fw-bold">team@maa-africa.org</span></p>
            <p>
                <small>Powered by Mama Tech © <%= Time.current.year %>. All rights reserved.</small>
            </p>
        </div>
            <!-- Right Section -->
            <div class="col-md-6 text-md-end">
                <!-- Navigation Links -->
                <ul class="list-inline mb-2">
                <li class="list-inline-item"><a href="#" class="text-white text-decoration-none">About</a></li>
                <li class="list-inline-item"><a href="#" class="text-white text-decoration-none">Join Us</a></li>
                <li class="list-inline-item"><a href="#" class="text-white text-decoration-none">Support Us</a></li>
                </ul>
                <!-- Social Media Links -->
                <ul class="list-inline">
                <li class="list-inline-item"><a href="#" class="text-white"><i class="bi bi-youtube"></i></a></li>
                <li class="list-inline-item"><a href="#" class="text-white"><i class="bi bi-facebook"></i></a></li>
                <li class="list-inline-item"><a href="#" class="text-white"><i class="bi bi-twitter"></i></a></li>
                <li class="list-inline-item"><a href="#" class="text-white"><i class="bi bi-instagram"></i></a></li>
                <li class="list-inline-item"><a href="#" class="text-white"><i class="bi bi-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>