<div class="nav text-center text-white sticky-top p-2 bg-custom mt-0 d-flex justify-content-between align-items-center">
    <% if user_signed_in? %>
        <h1 class="m-0">Page Admin</h1>
        <div class="d-flex align-items-center">
            <p class="m-0 me-3"><%= current_user.email %></p>
            <%= link_to 'User Details', user_details_path, class: "btn btn-primary me-2" %>
            <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'btn btn-secondary' %>
        </div>
    <% else %>
        <h1 class="m-0">MAA-Africa</h1>
        <%= link_to 'Sign in', new_user_session_path, class: "btn btn-dark" %>
    <% end %>
</div>
