<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="container-lg w-50">
        <p class="mb-5">Welcome <%= @email %>!</p>

        <p>You can confirm your account email through the link below:</p>

        <p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>
    </div>
</div>